{% extends "base.html" %}
{% block title %} {{ block.super }} Add_Candidate {% endblock %}
{% block add_candidate_selected %} class="active" {% endblock %}


{% block content %}
<div >
        
        <form action="/scoring/add_candidate/" method="post" role="form form-inline" class="w3-container w3-card-4 w3-light-grey">
         <h2>Add Candidate</h2>
		 {% csrf_token %}
          First name:<br>
          <input type="text" name="firstname" required><br>
          Last name:<br>
          <input type="text" name="lastname" required></br>
           Email :<br>
          <input type="email" name="email" required></br>
          <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </form>
</div>
{% endblock %}
